*~
#*#
/.#*

# Vim
*.swp
*.swo
*.swn
*.swm

# Python
__pycache__/
*.py[cod]
*.egg-info/
/.Python
/build/
/dist/
/.pytest_cache/
/.mypy_cache/
/.ruff_cache/
/.tox/
/.nox/
/.coverage
/htmlcov/
/coverage.xml
/.venv/
/venv/
/env/
